---
# This file is meant to be also used by upgrade playbook

- name: Install elasticsearch-curator package
  apt:
    name: "elasticsearch-curator={{ curator_version }}"
    state: present
  register: result
  until: result is succeeded
  retries: "{{ retries }}"
  delay: "{{ delay }}"
