{
  {% if (not is_upgrade_run) %}
  "exec-opts": ["native.cgroupdriver={{ docker_exec_opts.native_cgroupdriver }}"],
  {% elif (_previous_config["exec-opts"] is defined) %}
  "exec-opts": {{ _previous_config["exec-opts"] | to_json }},
  {% endif %}

  "insecure-registries": ["{{ image_registry_address }}"],

  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_logging.log_opts.max_file_size }}",
    "max-file": "{{ docker_logging.log_opts.max_files }}"
  }
}
