# {{ ansible_managed }}

user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

events {
  worker_connections {{ nginx_events_worker_connections }};
}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  server_tokens {{ nginx_http_server_tokens }};
  {% if nginx_http_add_headers is iterable %}
    {%- for header in nginx_http_add_headers -%}
  add_header {{ header }};
    {% endfor -%}
  {% endif %}

  log_format combined_custom {{ nginx_http_access_log_format }};
  access_log /var/log/nginx/access.log combined_custom;

  server_names_hash_bucket_size {{ nginx_http_server_names_hash_bucket_size }};
  server_names_hash_max_size {{ nginx_http_server_names_hash_max_size }};
  sendfile {{ nginx_http_sendfile }};
  tcp_nopush {{ nginx_http_tcp_nopush }};
  keepalive_timeout {{ nginx_http_keepalive_timeout }};
  types_hash_max_size {{ nginx_http_types_hash_max_size }};
  client_max_body_size {{ nginx_http_client_max_body_size }};
  gzip {{ nginx_http_gzip }};
  gzip_types {{ nginx_http_gzip_types }};
  gzip_disable "{{ nginx_http_gzip_disable }}";

  {% if nginx_http_directives is iterable -%}
  {% for key in nginx_http_directives %}
    {{ key }};
  {% endfor %}
  {% endif %}

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}