---
- name: Load Grafana version vars
  include_vars:
    file: roles/grafana/defaults/versions.yml
    name: grafana_version_vars

- name: Set Grafana package facts
  set_fact:
    grafana_package: "{{ grafana_version_vars.grafana_package }}"

- name: Remove conflicting grafana packages
  package:
    name: grafana-data
    state: absent

- include_tasks: install-packages-{{ ansible_os_family }}.yml
  vars:
    _package_url: "{{ repository_url }}/files/{{ grafana_package.filename[ansible_os_family][ansible_architecture] }}"

- name: Recursively chown /etc/grafana (fix permissions)
  file:
    path: /etc/grafana
    state: directory
    owner: root
    group: grafana
    mode: ug+rw,o=
    recurse: true
