#jinja2: lstrip_blocks: True

{#-
This file is used only locally to override chart's values defined in `configuration/keycloak` doc.

Keep data structure in sync with Helm chart's values.
ref: https://github.com/codecentric/helm-charts/blob/keycloakx-1.6.1/charts/keycloakx/values.yaml
-#}

{}
