---
- name: "Uninstall Helm release {{ node_exporter_helm_chart_name }} from {{ node_exporter_release_ns }} ns"
  delegate_to: localhost
  become: false
  run_once: true
  command: "helm uninstall -n {{ node_exporter_release_ns }} {{ node_exporter_helm_chart_name }}"
