# Exclude unnecessary files from the build context
# This file is meant to be used as a whitelist

# Exclude everything
*

# Include the following
!README.md
!LICENSE
!.devcontainer/requirements.txt
!cli/
!data/
!setup.py
