# Exclude unnecessary files from the build context
# This file is meant to be used as a whitelist

# Exclude everything
*

# Include the following
!README.md
!LICENSE
!core/src/epicli/.devcontainer/requirements.txt
!core/src/epicli/cli/
!core/src/epicli/data/
!core/src/epicli/setup.py
