---
- include_tasks: check-user.yml

- name: Check if components are supported for architecture
  vars:
    architecture: "{{ hostvars[groups.all[0]]['ansible_architecture'] }}"
    os_distro: "{{ hostvars[groups.all[0]]['ansible_distribution'] }}"
  block:
    - name: Set unsupported_components_checklist fact
      delegate_to: localhost
      become: false
      set_fact:
        unsupported_components_checklist: "{{ unsupported_roles | selectattr('distro','equalto', os_distro)
                                                                | selectattr('arch','equalto', architecture)
                                                                | map(attribute='roles') | list | flatten
                                                                | intersect(group_names) }}"

    - name: Check if components are supported for current architecture
      delegate_to: localhost
      become: false
      assert:
        that: unsupported_components_checklist | length == 0
        fail_msg: >-
          The following components in inventory are not supported for {{ architecture }} architecture on {{ os_distro }} OS:
          {{ unsupported_components_checklist | join(', ') }}.
          If the components are not necessary, you may remove them from the feature-mapping
          (see https://github.com/hitachienergy/epiphany/blob/develop/docs/home/howto/CLUSTER.md#how-to-create-custom-cluster-components).
        success_msg: All components supported for {{ architecture }} architecture
        quiet: true

- include_tasks: check-os.yml

- include_tasks: check-routing.yml

- name: Check that kubeconfig file exists
  when:
    - k8s_as_cloud_service is defined
    - k8s_as_cloud_service
  delegate_to: localhost
  run_once: true
  block:
    - name: Check if kubeconfig file exists
      stat:
        path: "{{ kubeconfig.local }}"
        get_attributes: false
        get_checksum: false
        get_mime: false
      register: stat_kubeconfig

    - name: Assert that local kubeconfig exists
      assert:
        that: stat_kubeconfig.stat.exists
        fail_msg: >-
          Kubeconfig file is not found. Copy/create it at {{ kubeconfig.local }}.
        success_msg: Kubeconfig file exists.
        quiet: true
