# {{ ansible_managed }}

# ========================= Epiphany built-in settings =========================

# ---  Based on zoo_sample.cfg ---

# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# The directory where the snapshot is stored
dataDir={{ zookeeper_data_dir }}
# The port at which the clients will connect
clientPort=2181

# --- Added by Epiphany team ---

# The directory where the transaction logs are stored
dataLogDir={{ zookeeper_log_dir }}

{% for host in zookeeper_hosts %}
server.{{loop.index}}={{ host }}:2888:3888
{% endfor %}

{% if specification.static_config_file.configurable_block is defined
  and specification.static_config_file.configurable_block is string
  and specification.static_config_file.configurable_block | length > 0 %}
# =============== Settings from Epiphany configuration/zookeeper ===============

{{ specification.static_config_file.configurable_block }}
{% endif %}
