#jinja2: trim_blocks:False
---
# An example of a Kubernetes configuration for Ignite pods deployment.
apiVersion: apps/v1
kind: Deployment
metadata:
  # Custom Ignite cluster's name.
  name: ignite-cluster
  namespace: {{ data.namespace }}
spec:
  selector:
    matchLabels:
      app: ignite
  # A number of Ignite pods to be started by Kubernetes initially.
  replicas: {{ data.replicas }}
  template:
    metadata:
      labels:
        app: ignite
    spec:
      serviceAccountName: ignite
      containers:
        # Custom Ignite pod name.
      - name: ignite-node
{% if data.use_local_image_registry is undefined or (data.use_local_image_registry | bool) %}
        image: {{ image_registry_address }}/{{ data.image_path }}
{% else %}
        image: {{ data.image_path }}
{% endif %}
        env:
        - name: OPTION_LIBS
          value: {% for plugin in data.enabled_plugins %}{{ plugin }}{{ "," if not loop.last else "" }}{% endfor %}
        - name: CONFIG_URI
          value: /ignite-config/ignite-config.xml
        ports:
        # Ports to open.
        # Might be optional depending on your Kubernetes environment.
        - containerPort: 11211 # REST port number.
        - containerPort: 47100 # communication SPI port number.
        - containerPort: 47500 # discovery SPI port number.
        - containerPort: 49112 # JMX port number.
        - containerPort: 10800 # SQL port number.
        - containerPort: 10900 # Thin clients port number.
        volumeMounts:
        - name: ignite-config
          mountPath: /ignite-config
      volumes:
      - configMap:
          name: ignite
        name: ignite-config
