---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
  labels:
    app: pgbouncer
  namespace: {{ data.namespace }}
spec:
  replicas: {{ data.replicas }}
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      volumes:
      - name: pgbouncer-users-file
        secret:
          secretName: pgbouncer-users-file
      containers:
      - name: pgbouncer 
        image: {{ data.image_path }}
        ports:
        - name: pgbouncer
          containerPort: 5432
          protocol: TCP
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: DB_HOST
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: DB_HOST
        - name: LISTEN_ADDR
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: LISTEN_ADDR
        - name: LISTEN_PORT
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: DB_LISTEN_PORT
        - name: AUTH_FILE
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: AUTH_FILE
        - name: AUTH_TYPE
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: AUTH_TYPE
        - name: MAX_CLIENT_CONN
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: MAX_CLIENT_CONN
        - name: DEFAULT_POOL_SIZE
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: DEFAULT_POOL_SIZE
        - name: RESERVE_POOL_SIZE
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: RESERVE_POOL_SIZE
        - name: POOL_MODE
          valueFrom:
            configMapKeyRef:
              name: pgbouncer-container-env
              key: POOL_MODE
        - name: ADMIN_USERS
          valueFrom:
            secretKeyRef:
              name: pgbouncer
              key: admin_users
        volumeMounts:
        - name: pgbouncer-users-file
          mountPath: "/etc/pgbouncer/auth"
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1024Mi"
        livenessProbe:        
          httpGet:
            path: /healthy
            port: {{ data.service.port }}
          initialDelaySeconds: 5
          timeoutSeconds: 1
          periodSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /ready
            port: {{ data.service.port }}
          initialDelaySeconds: 30
          timeoutSeconds: 1
          periodSeconds: 10
          failureThreshold: 3
      restartPolicy: Always