---
apiVersion: v1
kind: Secret
metadata:
  name: pgbouncer
  labels:
    app: pgbouncer
  namespace: {{ data.namespace }}
type: Opaque
data:
  admin_users: "{{ data.pgbouncer.secrets.admin_users | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: pgbouncer-users-file
  labels:
    app: pgbouncer
  namespace: {{ data.namespace }}
type: Opaque
data:
  users: "{{ [data.pgbouncer.secrets.db_user, data.pgbouncer.secrets.db_password] | join(' ') | b64encode }}"
