---
apiVersion: v1
kind: Secret
metadata:
  name: pgpool-passwords
  labels:
    app: pgpool
  namespace: {{ data.namespace }}
type: Opaque
data:
  pgpool_admin_password: "{{ data.pgpool.secrets.pgpool_admin_password | b64encode }}"
  pgpool_postgres_password: "{{ data.pgpool.secrets.pgpool_postgres_password | b64encode }}"
  pgpool_sr_check_password: "{{ data.pgpool.secrets.pgpool_sr_check_password | b64encode }}"
