---
# This file is used only for upgrade mode to free disk space

- name: Load vars from old manifest
  include_vars:
    file: "{{ lookup('first_found', params) }}"
    name: old_manifest
  vars:
    params:
      files:
        - manifest.yml
        - main.yml
      paths:
        - vars

- name: Set fact on epirepo directory path
  set_fact:
    _apache_epirepo_path: "{{ old_manifest.specification.apache_epirepo_path | default('/var/www/html/epirepo') }}"

- name: Get list of files in epirepo
  find:
    paths:
      - "{{ item }}"
    hidden: true
  register: files_in_epirepo
  loop:  # loop used by purpose to have separated results
    - "{{ _apache_epirepo_path }}/files"
    - "{{ _apache_epirepo_path }}/grafana_dashboards"
    - "{{ _apache_epirepo_path }}/images"

- name: Create full list of files
  set_fact:
    all_files: "{{ (_files_content['distro_files']['files'].keys() | list) | union(_files_content['files']['files'].keys() | list) }}"

- name: Remove old files from epirepo
  file:
    state: absent
    path: "{{ _apache_epirepo_path }}/files/{{ item }}"
  vars:
    _files_to_preserve: "{{ all_files | select('match', 'https?://')
                                      | map('regex_replace', '\\s+#.*$', '')
                                      | map('trim')
                                      | map('regex_replace', '^.+[/\\s](?P<filename>[\\S]+)$', '\\g<filename>') }}"
    _files_found: "{{ files_in_epirepo.results[0].files | map(attribute='path')
                                                        | map('basename') }}"
    _files_to_remove: "{{ _files_found | difference(_files_to_preserve) }}"
  loop: "{{ _files_to_remove }}"

# Remove all packages since it's not so easy to determine filenames based on the requirements file.
- name: Remove all packages from epirepo
  file:
    state: absent
    path: "{{ _apache_epirepo_path }}/packages"
