---
- import_tasks: gather-facts.yml

- name: Set mode
  set_fact:
    offline_mode: "{{ offline_requirements | length > 0 }}"

- name: Print mode
  debug:
    var: offline_mode

- name: Set directory name for download script
  set_fact:
    download_script_subdir: >-
      {{ 'centos-7' if (ansible_distribution == 'CentOS' and ansible_distribution_major_version == '7') else
          'redhat-7' if (ansible_distribution == 'RedHat' and ansible_distribution_major_version == '7') else
          'ubuntu-20.04' if (ansible_distribution == 'Ubuntu' and ansible_distribution_version == '20.04') else None }}

- name: Download Epiphany requirements on repository host # online mode
  block:
    - name: Check if OS distribution is supported
      assert:
        that: download_script_subdir | length > 0
        fail_msg: "Your OS distribution is not supported"

    - name: Copy files for downloading requirements to repository host
      copy:
        src: download-requirements/{{ download_script_subdir }}/
        dest: /var/tmp/epi-download-requirements

    - name: Make download script executable
      file:
        dest: /var/tmp/epi-download-requirements/download-requirements.sh
        mode: a+x

    - name: Copy common files for downloading requirements to repository host
      copy:
        src: download-requirements/common
        dest: /var/tmp/epi-download-requirements

  when:
    - not offline_mode
    - not custom_repository_url
    - inventory_hostname in target_repository_hostnames

- name: Copy repository client configuration scripts
  copy:
    src: client/{{ ansible_os_family }}/
    dest: /var/tmp/epi-repository-setup-scripts
    mode: a+x

- name: Copy repository server configuration scripts
  copy:
    src: server/{{ ansible_os_family }}/
    dest: /var/tmp/epi-repository-setup-scripts
    mode: a+x
  when:
    - not custom_repository_url
    - inventory_hostname in target_repository_hostnames

- include_tasks: check-whether-to-run-download.yml  # sets 'stat_flag_file'
  when:
    - not offline_mode
    - not custom_repository_url
    - inventory_hostname in target_repository_hostnames

- include_tasks: clean-up-epirepo.yml
  when:
    - is_upgrade_run
    - inventory_hostname in target_repository_hostnames
    - custom_repository_url or
      offline_mode or
      not stat_flag_file.stat.exists  # do not clean up when skipping download
  vars:
    _requirements_file_path: download-requirements/{{ download_script_subdir }}/requirements.{{ ansible_architecture }}.txt
    requirements_file_lines: "{{ lookup('file', _requirements_file_path).split('\n') }}"

- name: |-
    Copy requirements for offline installation to repository host, this can take a long time
    Destination: {{ specification.apache_epirepo_path }}
  copy:
    src: "{{ offline_requirements }}/"
    dest: "{{ specification.apache_epirepo_path }}"
    force: no # if target exists it will skip, default is 'yes'
  when:
    - offline_mode
    - not custom_repository_url
    - inventory_hostname in target_repository_hostnames

# Put it down here as the script download-requirements.sh relies on some files
# in the folder /var/tmp/epi-repository-setup-scripts that until now it should be available
- name: Download Epiphany requirements
  include_tasks: download-requirements.yml
  when:
    - not offline_mode
    - not custom_repository_url
    - inventory_hostname in target_repository_hostnames
    - not stat_flag_file.stat.exists

- name: Set up repositories
  include_tasks: "{{ ansible_os_family }}/setup.yml"

- name: Include Helm repository creation
  include_tasks: "create-helm-repo.yml"
  when: inventory_hostname == target_repository_hostnames[0]
