apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ specification.storage.name }}
  labels:
    name: {{ specification.storage.name }}
spec:
  storageClassName: defaultfs
  capacity:
    storage: {{ specification.storage.capacity }}Gi # EFS does not enforce it
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  mountOptions:
    - hard
    - nfsvers=4.1
    - rsize=1048576
    - wsize=1048576
    - timeo=600
    - retrans=2
  nfs:
    path: {{ specification.storage.path }}
    server: {{ specification.storage.data.server }}