#!/bin/bash
#
# Copyright 2019 ABB. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# NOTE: Other scripts may call this script so do not change parameters unless you know the impact!

# del_rg.sh delete the resource group which will delete everything!

# NOTE: If you get an error something like the following then it means the service principal most likely has been
# deleted and you are no longer logged into Azure. Call 'az login' at the command prompt.

# "Get Token request returned http error: 400 and server response: {"error":"unauthorized_client","error_description":..."

# Exit immediately if something goes wrong.
set -e

export REPO_ROOT=$(git rev-parse --show-toplevel)

COMMON_SCRIPTS_BASE=core/src/scripts/common

source $REPO_ROOT/$COMMON_SCRIPTS_BASE/base_colors.sh

RG={{ core.azure.resource_group.name }}

echo
echo_yellow "====> Deleting Resource Group $RG ..."

az account set --subscription "{{ core.azure.subscription }}"

if [[ $? -ne 0 ]]; then
    echo
    echo_red '====> ERROR: Incorrect subscription {{ core.azure.subscription }}'
    echo
    exit 1
fi

# NOTE: This will prompt for confirmation
az group delete -n $RG --no-wait

if [[ $? -ne 0 ]]; then
    echo
    echo_red "====> ERROR: Call to 'az group delete -n $RG --no-wait' failed"
    echo
    exit 1
fi

./del_sp.sh

echo_yellow '====> If this Resource Group exists then it may take awhile. This script is exiting but you can verify via the Azure Portal'

echo_yellow '====> Deleting everything but data from this directory...'

# NOTE: Some of the following files may not have been created due to enable flags in data.yaml
set +e
rm -rf .terraform
rm -f *.tf
rm -f *.sh
rm -f *.json
rm -f terraform.*
rm -r locks.tf.wait
rm -r config.*
rm -rf security.yaml
set -e

unset ARM_SUBSCRIPTION_ID
unset ARM_CLIENT_ID
unset ARM_CLIENT_SECRET
unset ARM_TENANT_ID

exit 0
