#!/bin/bash
#
# Copyright 2019 ABB. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# NOTE: Other scripts may call this script so do not change parameters unless you know the impact!

# del_sp.sh delete the service principal for the specific appId

# Exit immediately if something goes wrong.
set -e

export REPO_ROOT=$(git rev-parse --show-toplevel)

COMMON_SCRIPTS_BASE=core/src/scripts/common

source $REPO_ROOT/$COMMON_SCRIPTS_BASE/base_colors.sh

{%- if core.azure.terraform.service_principal.enable %}
# NOTE: You MUST be in the directory you want to delete the sp in!!

# NOTE: If you get an error something like the following then it means the service principal most likely has been
# deleted and you are no longer logged into Azure. Call 'az login' at the command prompt.

# "Get Token request returned http error: 400 and server response: {"error":"unauthorized_client","error_description":..."

# If you wish to generate the security.yaml file again then you must remove it from the given data directory!
if [[ ! -f az_ad_sp.json ]]; then
    echo
    echo_red '====> ERROR: NO az_ad_sp.json file exists so exiting...'
    echo
    exit 1
fi

# Gathering service principal information
echo
echo_yellow '====> Gathering service principal information...'

az account set --subscription "{{ core.azure.subscription }}"

if [[ $? -ne 0 ]]; then
    echo
    echo_red '====> ERROR: Incorrect subscription {{ core.azure.subscription }}'
    echo
    exit 1
fi

SUBSCRIPTION_ID=$(az account list | jq '.[] | select(.isDefault == true) | .id')

temp="${SUBSCRIPTION_ID%\"}"
SUBSCRIPTION_ID="${temp#\"}"

if [[ -f az_ad_sp.json ]]; then
    NAME=$(jq '.appId' az_ad_sp.json)
    temp="${NAME%\"}"
    NAME="${temp#\"}"

    echo_yellow "====> Deleting service principle for $NAME"

    az ad sp delete --id $NAME

    if [[ $? -ne 0 ]]; then
        echo
        echo_red '====> ERROR: Unable to delete service principal'
        echo
        exit 1
    fi

    set +e
    rm -f az_ad_sp.json
    rm -f security.yaml
    set -e
fi

# az logout
{% endif %}
exit 0
