#!/bin/bash
#
# Copyright 2019 ABB. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# NOTE: Other scripts may call this script so do not change parameters unless you know the impact!

# Can use 'basename' to extract name from parameter 1 and assign it to parameter 2. This can be done
# in a higher level helper script if desired.

# login.sh created by gen_sp.sh and used to login.

# Exit immediately if something goes wrong.
set -e

export REPO_ROOT=$(git rev-parse --show-toplevel)

COMMON_SCRIPTS_BASE=core/src/scripts/common
COMMON_TEMPLATES_BASE=core/src/templates/common
TEMPLATES_BASE=core/src/templates/azure

DATA_DIR=$1
OUTPUT_DIR=$2

source $REPO_ROOT/$COMMON_SCRIPTS_BASE/base_colors.sh

{%- if core.azure.terraform.service_principal.enable %}
if [[ -z $DATA_DIR ]]; then
    echo_red '====> ERROR: MUST specify a valid Data directory! <===='
    exit 1
fi

if [[ -z $OUTPUT_DIR ]]; then
    echo_red '====> ERROR: MUST specify a valid OUTPUT directory! <===='
    exit 1
fi

source $OUTPUT_DIR/env.sh $OUTPUT_DIR

# login using service principal now
echo
echo_yellow '====> Login using service principal...'

# Currently, only pwd is supported via environment variables for Terraform and service principle logins - not certs
az login --service-principal -u $ARM_CLIENT_ID -p $ARM_CLIENT_SECRET --tenant $ARM_TENANT_ID

if [[ $? -ne 0 ]]; then
    echo
    echo_red '====> ERROR: Unable to login with service principal'
    echo

    unset ARM_SUBSCRIPTION_ID
    unset ARM_CLIENT_ID
    unset ARM_CLIENT_SECRET
    unset ARM_TENANT_ID

    exit 1
fi
{% endif %}
exit 0
