#####################################################
# outputs {{ title }}
#####################################################
# Do not alter naming convention '__' represents a separator
# '-' is not supported for output names so they must be converted to '_' for any output value.
# For example, 'vm-epiphany-public_ip' will be converted to 'vm_epiphany_public_ip'

{%- for vm in core.azure.standard.vms %}
{%- if vm.public_ips %}
output "{{ vm.name|replace('-', '_') }}__public_ips" {
  value = "${azurerm_public_ip.public_ip_{{ vm.name }}.*.ip_address}"
}
{%- endif %}

output "{{ vm.name|replace('-', '_') }}__private_ips" {
  value = "${azurerm_network_interface.network_interface_{{ vm.name }}.*.private_ip_address}"
}

{% endfor %}
