#####################################################
# variables {{ title }}
#####################################################

variable "admin_username" {
  description = "The admin username of the VM that will be deployed"
  default     = "{{ core.azure.standard.os_profile.admin_username }}"
}

variable "admin_password" {
  description = "The admin password to be used on the VMSS that will be deployed. The password must meet the complexity requirements of Azure"
  default     = "{{ core.azure.standard.os_profile.admin_password }}"
}

variable "ssh_keyfile" {
  description = "Path to the public key to be used for ssh access to the VM.  Only used with non-Windows vms and can be left as-is even if using Windows vms. If specifying a path to a certification on a Windows machine to provision a linux vm use the / in the path versus backslash. e.g. c:/home/id_rsa.pub"
  default     = "{{ core.azure.standard.security.ssh.key.file }}"
}

variable "file_destination" {
  description = "The destination of the file for the 'file provisioner' related commands"
  default     = "/home/{{ core.azure.standard.os_profile.admin_username }}"
}

variable "master_depends_on" {
  description = "The Master node depends on the following resources"
  default     = [""]
}
