apiVersion: v1
kind: Config

clusters:
- cluster:
    certificate-authority-data: "{{ admin_kubeconfig.clusters[0].cluster["certificate-authority-data"] }}"
    server: "{{ admin_kubeconfig.clusters[0].cluster.server }}"
  name: "{{ admin_kubeconfig.clusters[0].name }}"

users:
- name: sa-prometheus
  user:
    token: "{{ kube_token.stdout | b64decode }}"

contexts:
- context:
    cluster: "{{ admin_kubeconfig.clusters[0].name }}"
    user: sa-prometheus
  name: "sa-prometheus@{{ admin_kubeconfig.clusters[0].name }}"

current-context: "sa-prometheus@{{ admin_kubeconfig.clusters[0].name }}"
