# {{ ansible_managed }}

# Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License").
# You may not use this file except in compliance with the License.
# A copy of the License is located at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# or in the "license" file accompanying this file. This file is distributed
# on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing
# permissions and limitations under the License.

# Description:
# Default Kibana configuration for Open Distro.

server.host: "{{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0]) }}"
elasticsearch.hosts:
{% if 'logging' in group_names %}
  # Logging hosts:
  {% for host in groups['logging'] %}
  - "https://{{hostvars[host]['ansible_hostname']}}:9200"
  {% endfor %}
{% elif 'opendistro_for_elasticsearch' in group_names %}
  # Opendistro (data) hosts:
  {% for host in groups['opendistro_for_elasticsearch'] %}
  - "https://{{hostvars[host]['ansible_hostname']}}:9200"
  {% endfor %}
{% endif %}

elasticsearch.ssl.verificationMode: none
elasticsearch.username: kibanaserver
elasticsearch.password: kibanaserver
elasticsearch.requestHeadersWhitelist: ["securitytenant","Authorization"]

opendistro_security.multitenancy.enabled: true
opendistro_security.multitenancy.tenants.preferred: ["Private", "Global"]
opendistro_security.readonly_mode.roles: ["kibana_read_only"]

# Provided with 1.10.1 version:
# https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/1-10-1/
# Use this setting if you are running kibana without https
opendistro_security.cookie.secure: false

newsfeed.enabled: false
telemetry.optIn: false
telemetry.enabled: false
