#jinja2: trim_blocks:False
[Unit]
Description={{ specification.description }}
After=kafka.service

[Service]
User=kafka_exporter
Group=kafka_exporter
ExecStartPre=/bin/bash -c '(while ! ss -H -t -l -n sport = :9092 | grep -q "^LISTEN.*:9092"; do echo "Waiting for Kafka Broker port to be listening..."; sleep 2; done)'
ExecStart=/opt/kafka_exporter/kafka_exporter {{ kafka_instances }} {% for flag in specification.config_flags %} {{ flag }} {% endfor %}
SyslogIdentifier=kafka_exporter
Restart=always

[Install]
WantedBy=multi-user.target