# {{ ansible_managed }}
[Unit]
Description=Apache Ignite Server
After=network.target

[Service]
Type=simple
User=ignite
Group=ignite
DynamicUser=false
StateDirectory=ignite
WorkingDirectory=/opt/ignite
Environment="JAVA_HOME={{ ignite_java_home }}"
ExecStart=/opt/ignite/bin/ignite.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
