---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ rabbitmq_service_name }}
  namespace: {{ namespace_name }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ rabbitmq_service_name }}-endpoint-reader
  namespace: {{ namespace_name }}
rules:
- apiGroups: [""]
  resources: ["endpoints"]
  verbs: ["get"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ rabbitmq_service_name }}-endpoint-reader
  namespace: {{ namespace_name }}
subjects:
- kind: ServiceAccount
  name: {{ rabbitmq_service_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ rabbitmq_service_name }}-endpoint-reader