---
- name: Create directory for Curator configuration file
  file:
    path: "{{ curator.config_file_path | dirname }}"
    state: directory
    owner: "{{ specification.opensearch_os_user }}"
    group: "{{ specification.opensearch_os_group }}"
    mode: u=rwx,g=rx,o=

- name: Provide Curator configuration file
  template:
    backup: true
    src: curator.yml.j2
    dest: "{{ curator.config_file_path }}"
    owner: "{{ specification.opensearch_os_user }}"
    group: "{{ specification.opensearch_os_group }}"
    mode: u=rw,g=r,o=

# --- Configure cron jobs ---

- name: Prepare list of cron jobs based on configuration
  set_fact:
    curator_cron_jobs: >-
      {{ curator_cron_jobs | default([])
         + [ { 'cmd': curator_cmd, 'cron': item.cron, 'config_hash': job_config_hash } ] }}
  vars:
    # separators used to remove spaces
    curator_cmd: >-
      {{ curator.venv_dir }}/bin/curator_cli delete-indices
      --allow_ilm_indices
      --filter_list '{{ item.filter_list | to_json(separators=(',',':')) }}'
      --ignore_empty_list | logger -t curator_cli
    job_config_hash: "{{ item | string | hash('sha1') }}"
  loop: "{{ specification.curator.delete_indices_cron_jobs }}"

- name: Remove old Ansible managed Curator cron jobs
  block:
    - name: Get crontab
      command: crontab -l
      register: crontab
      changed_when: false
      failed_when:
        - crontab.rc != 0
        - crontab.stderr is not match('no crontab for')

    - name: Get Ansible managed Curator cron jobs
      set_fact:
        managed_curator_cron_jobs: >-
          {{ managed_curator_cron_jobs | default([])
             + [ { 'name':        item | regex_replace('^[^:]+:\s*', '', ignorecase=True),
                   'config_hash': item | regex_replace('.*config_hash: ([a-f0-9]+).*', '\1')
                 } ] }}
      loop_control:
        extended: true
      loop: "{{ crontab.stdout_lines }}"
      when:
        - item is regex('^#ansible', ignorecase=True)
        - ansible_loop.nextitem is defined
        - ansible_loop.nextitem is regex('\\bcurator_cli\\b')

    - name: Remove old Ansible managed Curator cron jobs
      cron:
        name: "{{ item.name }}"
        state: absent
      loop: "{{ managed_curator_cron_jobs }}"
      when:
        - managed_curator_cron_jobs is defined
        - curator_cron_jobs is undefined
          or (curator_cron_jobs | selectattr('config_hash','equalto', item.config_hash) | list | count == 0)

- name: Test curator_cli commands for new cron jobs
  when: curator_cron_jobs is defined
  block:
    - name: Test curator_cli commands for new cron jobs with --dry-run
      shell: "{{ curator_test_cmd }}"
      changed_when: false
      failed_when: false
      register: result
      vars:
        curator_test_cmd: "{{ item.cmd | replace('curator_cli', 'curator_cli --dry-run', 1) }}"
      loop_control:
        label: "{{ curator_test_cmd }}"
      loop: "{{ curator_cron_jobs }}"
      when:
        - managed_curator_cron_jobs is undefined
          or (managed_curator_cron_jobs | selectattr('config_hash','equalto', item.config_hash) | list | count == 0)

    - name: Check test results
      assert:
        that: item.rc == 0
        quiet: true
      loop_control:
        label: "{{ item.cmd | default('skipped') }}"
      loop: "{{ result.results }}"
      when: item.rc is defined

- name: Create cron jobs that delete OpenSearch indices
  when: curator_cron_jobs is defined
  cron:
    # NOTE: name should be unique since changing it will result in a new cron task being created
    name: "curator-opensearch job that deletes indices, config_hash: {{ item.config_hash }}"
    job: "{{ item.cmd }}"
    minute: "{{ item.cron.minute | default('*') }}"
    hour: "{{ item.cron.hour | default('*') }}"
    day: "{{ item.cron.day | default('*') }}"
    weekday: "{{ item.cron.weekday | default('*') }}"
    month: "{{ item.cron.month | default('*') }}"
    disabled: "{{ not (item.cron.enabled | default(True)) }}"
  loop: "{{ curator_cron_jobs }}"
