secret:
  users:
{% for user in user_credentials %}
  - name: {{ user.name }}
    token: {{ user.token }}
{% endfor %}
  clusters:
{% for config in kubeconfig_settings.clusters %}
  - name: {{ config.name }}
    ca_data: {{ clusters_ca_data_encrypted[loop.index0].stdout }}
    api_url: {{ config.cluster.server }}
{% endfor %}
  contexts:
{% for cluster in kubeconfig_settings.clusters %}
{% for user in user_credentials %}
  - name: {{ cluster.name }}-{{ user.name }}-context
    cluster: {{ cluster.name }}
    user: {{ user.name }}
{% endfor %}
{% endfor %}
  current_context: {{ kubeconfig_settings.clusters[0].name }}-{{ user_credentials[0].name }}-context
