apiVersion: v1
kind: Secret
metadata:
  name: azure-secret
type: Opaque
data:
  azurestorageaccountname: {{ kubernetes.storage.account | b64encode }}
  azurestorageaccountkey: {{ kubernetes.storage.key | b64encode }}