apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: localhost:3446
    token: {{ kubernetes_common.kubeadm_join_token }}
    caCertHashes:
    - sha256:{{ kubernetes_common.kubeadm_cert_hash }}
controlPlane:
  localAPIEndpoint:
    bindPort: 6443
