apiVersion: v1
kind: Config
users:
{% for user in secret.users %}
- name: {{ user.name }}
  user:
    token: {{ user.token }}
{% endfor %}
clusters:
{% for cluster in secret.clusters %}
- cluster:
    certificate-authority-data: {{ cluster.ca_data }}
    server: {{ cluster.api_url }}
  name: {{ cluster.name }}
{% endfor %}
contexts:
{% for context in secret.contexts %}
- context:
    cluster: {{ context.cluster }}
    user: {{ context.user }}
  name: {{ context.name }}
{% endfor %}
current-context: {{ secret.current_context }}
