apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v{{ specification.version }}
clusterName: "{{ specification.cluster_name }}"

{% if use_ha_control_plane %}
controlPlaneEndpoint: "localhost:3446"
{% endif %}

apiServer:
  timeoutForControlPlane: 4m0s
  certSANs:
    - localhost
    - 127.0.0.1
{% for host in groups['kubernetes_master'] %}
    - {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
  extraArgs: # https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
{% if specification.advanced.etcd_args.encrypted | bool %}
    encryption-provider-config: /etc/kubernetes/pki/etcd/etc-encryption.conf
{% endif %}
{% for key, value in specification.advanced.api_server_args.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}

controllerManager:
  extraArgs: # https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/
{% for key, value in specification.advanced.controller_manager_args.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}

scheduler:
  extraArgs: # https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/
{% for key, value in specification.advanced.scheduler_args.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}

networking:
  dnsDomain: {{ specification.advanced.networking.dnsDomain }}
  podSubnet: "10.244.0.0/16"
  serviceSubnet: {{ specification.advanced.networking.serviceSubnet }}

{% if custom_image_registry_address|length == 0 %}
imageRepository: {{ image_registry_address }}/{{ specification.advanced.imageRepository }}
{% else %}
imageRepository: {{ custom_image_registry_address }}/{{ specification.advanced.imageRepository }}
{% endif %}

certificatesDir: {{ specification.advanced.certificatesDir }}

