#jinja2: lstrip_blocks: True
#!/usr/bin/env bash
{# This script is meant to be executed on primary node #}

set -x

# Rollback steps:
{% if is_repmgr_used %}

# - Stop and disable new repmgr service
systemctl stop {{ new_version.repmgr.service_name[ansible_os_family] }}
systemctl disable {{ new_version.repmgr.service_name[ansible_os_family] }}

# - Restore repmgr symlink
  {% if ansible_os_family == 'Debian' %}
ln -sf {{ old_version.repmgr.config_dir.Debian }}/repmgr.conf /etc/repmgr.conf
  {% elif ansible_os_family == 'RedHat' %}
ln -sf {{ old_version.repmgr.bin_dir.RedHat }}/repmgr /bin/repmgr
  {% endif %}
{% endif %}

# - Stop and disable new PostgreSQL service
{% if ansible_os_family == 'Debian' %}
systemctl stop {{ new_version.pg.service_name.Debian }}
systemctl stop {{ new_version.pg.instantiated_service_name.Debian }}
systemctl mask {{ new_version.pg.instantiated_service_name.Debian }}
{% elif ansible_os_family == 'RedHat' %}
systemctl stop {{ new_version.pg.service_name.RedHat }}
systemctl disable {{ new_version.pg.service_name.RedHat }}
{% endif %}

# - Start and enable old PostgreSQL service
{% if ansible_os_family == 'Debian' %}
systemctl unmask {{ old_version.pg.instantiated_service_name.Debian }}
systemctl start {{ old_version.pg.service_name.Debian }}
systemctl start {{ old_version.pg.instantiated_service_name.Debian }}
{% elif ansible_os_family == 'RedHat' %}
systemctl start {{ old_version.pg.service_name.RedHat }}
systemctl enable {{ old_version.pg.service_name.RedHat }}
{% endif %}
{% if is_repmgr_used %}

# - Start and enable old repmgr service
systemctl start {{ old_version.repmgr.service_name[ansible_os_family] }}
systemctl enable {{ old_version.repmgr.service_name[ansible_os_family] }}
{% endif %}

# - Remove new data directory
rm -rf {{ new_version.pg.data_dir[ansible_os_family] }}
{% if pg_custom_tablespace_locations | count > 0 %}

# - Clean up migrated tablespace directories
  {% for directory_path in pg_custom_tablespace_locations %}
rm -rf {{ directory_path }}/PG_{{ new_version.pg.version }}_*
  {% endfor %}
{% endif %}

{% if is_repmgr_used and groups.postgresql | count > 0 %}
set +x

echo
echo "Run the following commands on all stanby nodes:"
echo
echo "sudo systemctl start {{ old_version.repmgr.service_name[ansible_os_family] }}"
echo "sudo systemctl enable {{ old_version.repmgr.service_name[ansible_os_family] }}"
{% endif %}
