[Unit]
Description=Service that runs Prometheus Node Exporter

[Service]
User=haproxy_exporter
Group=haproxy_exporter
ExecStart=/opt/haproxy_exporter/haproxy_exporter "--haproxy.scrape-uri=https://{{ haproxy.stats.user }}:{{ haproxy.stats.password }}@{{ ansible_default_ipv4.address }}/haproxy?stats"
SyslogIdentifier=prometheus_haproxy_exporter
Restart=always

[Install]
WantedBy=multi-user.target
