adal==1.2.7 ; python_full_version == "3.10.13"
ansible-core==2.16.3 ; python_full_version == "3.10.13"
ansible==6.7.0 ; python_full_version == "3.10.13"
antlr4-python3-runtime==4.13.1 ; python_full_version == "3.10.13"
anyio==4.2.0 ; python_full_version == "3.10.13"
applicationinsights==0.11.10 ; python_full_version == "3.10.13"
argcomplete==3.1.6 ; python_full_version == "3.10.13"
attrs==23.1.0 ; python_full_version == "3.10.13"
azure-appconfiguration==1.1.1 ; python_full_version == "3.10.13"
azure-batch==14.0.0 ; python_full_version == "3.10.13"
azure-cli-core==2.55.0 ; python_full_version == "3.10.13"
azure-cli-telemetry==1.1.0 ; python_full_version == "3.10.13"
azure-cli==2.55.0 ; python_full_version == "3.10.13"
azure-common==1.1.28 ; python_full_version == "3.10.13"
azure-core==1.29.6 ; python_full_version == "3.10.13"
azure-cosmos==3.2.0 ; python_full_version == "3.10.13"
azure-data-tables==12.4.0 ; python_full_version == "3.10.13"
azure-datalake-store==0.0.53 ; python_full_version == "3.10.13"
azure-graphrbac==0.60.0 ; python_full_version == "3.10.13"
azure-keyvault-administration==4.4.0b2 ; python_full_version == "3.10.13"
azure-keyvault-certificates==4.7.0 ; python_full_version == "3.10.13"
azure-keyvault-keys==4.9.0b3 ; python_full_version == "3.10.13"
azure-keyvault-secrets==4.7.0 ; python_full_version == "3.10.13"
azure-loganalytics==0.1.1 ; python_full_version == "3.10.13"
azure-mgmt-advisor==9.0.0 ; python_full_version == "3.10.13"
azure-mgmt-apimanagement==4.0.0 ; python_full_version == "3.10.13"
azure-mgmt-appconfiguration==3.0.0 ; python_full_version == "3.10.13"
azure-mgmt-appcontainers==2.0.0 ; python_full_version == "3.10.13"
azure-mgmt-applicationinsights==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-authorization==4.0.0 ; python_full_version == "3.10.13"
azure-mgmt-batch==17.0.0 ; python_full_version == "3.10.13"
azure-mgmt-batchai==7.0.0b1 ; python_full_version == "3.10.13"
azure-mgmt-billing==6.0.0 ; python_full_version == "3.10.13"
azure-mgmt-botservice==2.0.0 ; python_full_version == "3.10.13"
azure-mgmt-cdn==12.0.0 ; python_full_version == "3.10.13"
azure-mgmt-cognitiveservices==13.5.0 ; python_full_version == "3.10.13"
azure-mgmt-compute==30.3.0 ; python_full_version == "3.10.13"
azure-mgmt-containerinstance==10.1.0 ; python_full_version == "3.10.13"
azure-mgmt-containerregistry==10.1.0 ; python_full_version == "3.10.13"
azure-mgmt-containerservice==28.0.0 ; python_full_version == "3.10.13"
azure-mgmt-core==1.4.0 ; python_full_version == "3.10.13"
azure-mgmt-cosmosdb==9.3.0 ; python_full_version == "3.10.13"
azure-mgmt-databoxedge==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-datalake-nspkg==3.0.1 ; python_full_version == "3.10.13"
azure-mgmt-datalake-store==0.5.0 ; python_full_version == "3.10.13"
azure-mgmt-datamigration==10.0.0 ; python_full_version == "3.10.13"
azure-mgmt-devtestlabs==4.0.0 ; python_full_version == "3.10.13"
azure-mgmt-dns==8.0.0 ; python_full_version == "3.10.13"
azure-mgmt-eventgrid==10.2.0b2 ; python_full_version == "3.10.13"
azure-mgmt-eventhub==10.1.0 ; python_full_version == "3.10.13"
azure-mgmt-extendedlocation==1.0.0b2 ; python_full_version == "3.10.13"
azure-mgmt-hdinsight==9.0.0 ; python_full_version == "3.10.13"
azure-mgmt-imagebuilder==1.2.0 ; python_full_version == "3.10.13"
azure-mgmt-iotcentral==10.0.0b2 ; python_full_version == "3.10.13"
azure-mgmt-iothub==3.0.0 ; python_full_version == "3.10.13"
azure-mgmt-iothubprovisioningservices==1.1.0 ; python_full_version == "3.10.13"
azure-mgmt-keyvault==10.3.0 ; python_full_version == "3.10.13"
azure-mgmt-kusto==0.3.0 ; python_full_version == "3.10.13"
azure-mgmt-loganalytics==13.0.0b4 ; python_full_version == "3.10.13"
azure-mgmt-managedservices==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-managementgroups==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-maps==2.0.0 ; python_full_version == "3.10.13"
azure-mgmt-marketplaceordering==1.1.0 ; python_full_version == "3.10.13"
azure-mgmt-media==9.0.0 ; python_full_version == "3.10.13"
azure-mgmt-monitor==5.0.1 ; python_full_version == "3.10.13"
azure-mgmt-msi==7.0.0 ; python_full_version == "3.10.13"
azure-mgmt-netapp==10.1.0 ; python_full_version == "3.10.13"
azure-mgmt-nspkg==3.0.2 ; python_full_version == "3.10.13"
azure-mgmt-policyinsights==1.1.0b4 ; python_full_version == "3.10.13"
azure-mgmt-privatedns==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-rdbms==10.2.0b13 ; python_full_version == "3.10.13"
azure-mgmt-recoveryservices==2.5.0 ; python_full_version == "3.10.13"
azure-mgmt-recoveryservicesbackup==7.0.0 ; python_full_version == "3.10.13"
azure-mgmt-redhatopenshift==1.4.0 ; python_full_version == "3.10.13"
azure-mgmt-redis==14.1.0 ; python_full_version == "3.10.13"
azure-mgmt-resource==23.1.0b2 ; python_full_version == "3.10.13"
azure-mgmt-search==9.1.0 ; python_full_version == "3.10.13"
azure-mgmt-security==5.0.0 ; python_full_version == "3.10.13"
azure-mgmt-servicebus==8.2.0 ; python_full_version == "3.10.13"
azure-mgmt-servicefabric==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-servicefabricmanagedclusters==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-servicelinker==1.2.0b1 ; python_full_version == "3.10.13"
azure-mgmt-signalr==2.0.0b1 ; python_full_version == "3.10.13"
azure-mgmt-sql==4.0.0b13 ; python_full_version == "3.10.13"
azure-mgmt-sqlvirtualmachine==1.0.0b5 ; python_full_version == "3.10.13"
azure-mgmt-storage==21.1.0 ; python_full_version == "3.10.13"
azure-mgmt-synapse==2.1.0b5 ; python_full_version == "3.10.13"
azure-mgmt-trafficmanager==1.0.0 ; python_full_version == "3.10.13"
azure-mgmt-web==7.0.0 ; python_full_version == "3.10.13"
azure-multiapi-storage==1.2.0 ; python_full_version == "3.10.13"
azure-nspkg==3.0.2 ; python_full_version == "3.10.13"
azure-storage-common==1.4.2 ; python_full_version == "3.10.13"
azure-synapse-accesscontrol==0.5.0 ; python_full_version == "3.10.13"
azure-synapse-artifacts==0.17.0 ; python_full_version == "3.10.13"
azure-synapse-managedprivateendpoints==0.4.0 ; python_full_version == "3.10.13"
azure-synapse-spark==0.2.0 ; python_full_version == "3.10.13"
bcrypt==4.1.2 ; python_full_version == "3.10.13"
boto3==1.34.5 ; python_full_version == "3.10.13"
botocore==1.34.5 ; python_full_version == "3.10.13"
certifi==2023.11.17 ; python_full_version == "3.10.13"
cffi==1.16.0 ; python_full_version == "3.10.13"
chardet==3.0.4 ; python_full_version == "3.10.13"
charset-normalizer==3.3.2 ; python_full_version == "3.10.13"
click==8.1.7 ; python_full_version == "3.10.13"
colorama==0.4.6 ; python_full_version == "3.10.13"
cryptography==41.0.7 ; python_full_version == "3.10.13"
deprecated==1.2.14 ; python_full_version == "3.10.13"
distro==1.8.0 ; sys_platform == "linux" and python_full_version == "3.10.13"
exceptiongroup==1.2.0 ; python_full_version == "3.10.13"
fabric==2.7.1 ; python_full_version == "3.10.13"
humanfriendly==10.0 ; python_full_version == "3.10.13"
idna==3.6 ; python_full_version == "3.10.13"
invoke==1.7.3 ; python_full_version == "3.10.13"
isodate==0.6.1 ; python_full_version == "3.10.13"
javaproperties==0.5.2 ; python_full_version == "3.10.13"
jinja2==3.1.2 ; python_full_version == "3.10.13"
jmespath==1.0.1 ; python_full_version == "3.10.13"
jsondiff==2.0.0 ; python_full_version == "3.10.13"
jsonschema-specifications==2023.11.2 ; python_full_version == "3.10.13"
jsonschema==4.20.0 ; python_full_version == "3.10.13"
knack==0.11.0 ; python_full_version == "3.10.13"
markupsafe==2.1.3 ; python_full_version == "3.10.13"
msal-extensions==1.0.0 ; python_full_version == "3.10.13"
msal==1.24.0b2 ; python_full_version == "3.10.13"
msal[broker]==1.24.0b2 ; python_full_version == "3.10.13"
msrest==0.7.1 ; python_full_version == "3.10.13"
msrestazure==0.6.4 ; python_full_version == "3.10.13"
oauthlib==3.2.2 ; python_full_version == "3.10.13"
packaging==23.2 ; python_full_version == "3.10.13"
paramiko==3.4.0 ; python_full_version == "3.10.13"
pathlib2==2.3.7.post1 ; python_full_version == "3.10.13"
pkginfo==1.9.6 ; python_full_version == "3.10.13"
portalocker==2.8.2 ; python_full_version == "3.10.13"
psutil==5.9.7 ; python_full_version == "3.10.13" and sys_platform != "cygwin"
pycomposefile==0.0.30 ; python_full_version == "3.10.13"
pycparser==2.21 ; python_full_version == "3.10.13"
pygithub==1.59.1 ; python_full_version == "3.10.13"
pygments==2.17.2 ; python_full_version == "3.10.13"
pyjwt==2.8.0 ; python_full_version == "3.10.13"
pyjwt[crypto]==2.8.0 ; python_full_version == "3.10.13"
pymsalruntime==0.13.12 ; python_full_version == "3.10.13" and platform_system == "Windows"
pynacl==1.5.0 ; python_full_version == "3.10.13"
pyopenssl==23.3.0 ; python_full_version == "3.10.13"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_full_version == "3.10.13"
pysocks==1.7.1 ; python_full_version == "3.10.13"
python-dateutil==2.8.2 ; python_full_version == "3.10.13"
python-json-logger==2.0.7 ; python_full_version == "3.10.13"
pywin32==306 ; platform_system == "Windows" and python_full_version == "3.10.13"
pyyaml==6.0.1 ; python_full_version == "3.10.13"
referencing==0.32.0 ; python_full_version == "3.10.13"
requests-oauthlib==1.3.1 ; python_full_version == "3.10.13"
requests==2.31.0 ; python_full_version == "3.10.13"
requests[socks]==2.31.0 ; python_full_version == "3.10.13"
resolvelib==0.8.1 ; python_full_version == "3.10.13"
rpds-py==0.15.2 ; python_full_version == "3.10.13"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_full_version == "3.10.13"
ruamel-yaml==0.18.5 ; python_full_version == "3.10.13"
s3transfer==0.9.0 ; python_full_version == "3.10.13"
scp==0.13.6 ; python_full_version == "3.10.13"
semver==2.13.0 ; python_full_version == "3.10.13"
six==1.16.0 ; python_full_version == "3.10.13"
sniffio==1.3.0 ; python_full_version == "3.10.13"
sshtunnel==0.1.5 ; python_full_version == "3.10.13"
tabulate==0.9.0 ; python_full_version == "3.10.13"
typing-extensions==4.9.0 ; python_full_version == "3.10.13"
urllib3==2.0.7 ; python_full_version == "3.10.13"
websocket-client==1.3.3 ; python_full_version == "3.10.13"
wrapt==1.16.0 ; python_full_version == "3.10.13"
xmltodict==0.13.0 ; python_full_version == "3.10.13"
