adal==1.2.7 ; python_full_version == "3.10.12"
ansible-core==2.13.11 ; python_full_version == "3.10.12"
ansible==6.7.0 ; python_full_version == "3.10.12"
antlr4-python3-runtime==4.9.3 ; python_full_version == "3.10.12"
applicationinsights==0.11.10 ; python_full_version == "3.10.12"
argcomplete==3.1.1 ; python_full_version == "3.10.12"
attrs==23.1.0 ; python_full_version == "3.10.12"
azure-appconfiguration==1.1.1 ; python_full_version == "3.10.12"
azure-batch==14.0.0 ; python_full_version == "3.10.12"
azure-cli-core==2.51.0 ; python_full_version == "3.10.12"
azure-cli-telemetry==1.1.0 ; python_full_version == "3.10.12"
azure-cli==2.51.0 ; python_full_version == "3.10.12"
azure-common==1.1.28 ; python_full_version == "3.10.12"
azure-core==1.29.2 ; python_full_version == "3.10.12"
azure-cosmos==3.2.0 ; python_full_version == "3.10.12"
azure-data-tables==12.4.0 ; python_full_version == "3.10.12"
azure-datalake-store==0.0.53 ; python_full_version == "3.10.12"
azure-graphrbac==0.60.0 ; python_full_version == "3.10.12"
azure-keyvault-administration==4.3.0 ; python_full_version == "3.10.12"
azure-keyvault-certificates==4.7.0 ; python_full_version == "3.10.12"
azure-keyvault-keys==4.8.0b2 ; python_full_version == "3.10.12"
azure-keyvault-secrets==4.7.0 ; python_full_version == "3.10.12"
azure-keyvault==1.1.0 ; python_full_version == "3.10.12"
azure-loganalytics==0.1.1 ; python_full_version == "3.10.12"
azure-mgmt-advisor==9.0.0 ; python_full_version == "3.10.12"
azure-mgmt-apimanagement==4.0.0 ; python_full_version == "3.10.12"
azure-mgmt-appconfiguration==3.0.0 ; python_full_version == "3.10.12"
azure-mgmt-appcontainers==2.0.0 ; python_full_version == "3.10.12"
azure-mgmt-applicationinsights==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-authorization==3.0.0 ; python_full_version == "3.10.12"
azure-mgmt-batch==17.0.0 ; python_full_version == "3.10.12"
azure-mgmt-batchai==7.0.0b1 ; python_full_version == "3.10.12"
azure-mgmt-billing==6.0.0 ; python_full_version == "3.10.12"
azure-mgmt-botservice==2.0.0 ; python_full_version == "3.10.12"
azure-mgmt-cdn==12.0.0 ; python_full_version == "3.10.12"
azure-mgmt-cognitiveservices==13.5.0 ; python_full_version == "3.10.12"
azure-mgmt-compute==30.0.0 ; python_full_version == "3.10.12"
azure-mgmt-consumption==2.0.0 ; python_full_version == "3.10.12"
azure-mgmt-containerinstance==10.1.0 ; python_full_version == "3.10.12"
azure-mgmt-containerregistry==10.1.0 ; python_full_version == "3.10.12"
azure-mgmt-containerservice==25.0.0 ; python_full_version == "3.10.12"
azure-mgmt-core==1.4.0 ; python_full_version == "3.10.12"
azure-mgmt-cosmosdb==9.2.0 ; python_full_version == "3.10.12"
azure-mgmt-databoxedge==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-datalake-analytics==0.2.1 ; python_full_version == "3.10.12"
azure-mgmt-datalake-nspkg==3.0.1 ; python_full_version == "3.10.12"
azure-mgmt-datalake-store==0.5.0 ; python_full_version == "3.10.12"
azure-mgmt-datamigration==10.0.0 ; python_full_version == "3.10.12"
azure-mgmt-devtestlabs==4.0.0 ; python_full_version == "3.10.12"
azure-mgmt-dns==8.0.0 ; python_full_version == "3.10.12"
azure-mgmt-eventgrid==10.2.0b2 ; python_full_version == "3.10.12"
azure-mgmt-eventhub==10.1.0 ; python_full_version == "3.10.12"
azure-mgmt-extendedlocation==1.0.0b2 ; python_full_version == "3.10.12"
azure-mgmt-hdinsight==9.0.0 ; python_full_version == "3.10.12"
azure-mgmt-imagebuilder==1.2.0 ; python_full_version == "3.10.12"
azure-mgmt-iotcentral==10.0.0b2 ; python_full_version == "3.10.12"
azure-mgmt-iothub==2.3.0 ; python_full_version == "3.10.12"
azure-mgmt-iothubprovisioningservices==1.1.0 ; python_full_version == "3.10.12"
azure-mgmt-keyvault==10.2.2 ; python_full_version == "3.10.12"
azure-mgmt-kusto==0.3.0 ; python_full_version == "3.10.12"
azure-mgmt-loganalytics==13.0.0b4 ; python_full_version == "3.10.12"
azure-mgmt-managedservices==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-managementgroups==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-maps==2.0.0 ; python_full_version == "3.10.12"
azure-mgmt-marketplaceordering==1.1.0 ; python_full_version == "3.10.12"
azure-mgmt-media==9.0.0 ; python_full_version == "3.10.12"
azure-mgmt-monitor==5.0.1 ; python_full_version == "3.10.12"
azure-mgmt-msi==7.0.0 ; python_full_version == "3.10.12"
azure-mgmt-netapp==10.0.0 ; python_full_version == "3.10.12"
azure-mgmt-nspkg==3.0.2 ; python_full_version == "3.10.12"
azure-mgmt-policyinsights==1.1.0b4 ; python_full_version == "3.10.12"
azure-mgmt-privatedns==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-rdbms==10.2.0b10 ; python_full_version == "3.10.12"
azure-mgmt-recoveryservices==2.4.0 ; python_full_version == "3.10.12"
azure-mgmt-recoveryservicesbackup==6.0.0 ; python_full_version == "3.10.12"
azure-mgmt-redhatopenshift==1.2.0 ; python_full_version == "3.10.12"
azure-mgmt-redis==14.1.0 ; python_full_version == "3.10.12"
azure-mgmt-relay==0.1.0 ; python_full_version == "3.10.12"
azure-mgmt-resource==23.1.0b2 ; python_full_version == "3.10.12"
azure-mgmt-search==9.0.0 ; python_full_version == "3.10.12"
azure-mgmt-security==5.0.0 ; python_full_version == "3.10.12"
azure-mgmt-servicebus==8.2.0 ; python_full_version == "3.10.12"
azure-mgmt-servicefabric==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-servicefabricmanagedclusters==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-servicelinker==1.2.0b1 ; python_full_version == "3.10.12"
azure-mgmt-signalr==1.1.0 ; python_full_version == "3.10.12"
azure-mgmt-sql==4.0.0b10 ; python_full_version == "3.10.12"
azure-mgmt-sqlvirtualmachine==1.0.0b5 ; python_full_version == "3.10.12"
azure-mgmt-storage==21.0.0 ; python_full_version == "3.10.12"
azure-mgmt-synapse==2.1.0b5 ; python_full_version == "3.10.12"
azure-mgmt-trafficmanager==1.0.0 ; python_full_version == "3.10.12"
azure-mgmt-web==7.0.0 ; python_full_version == "3.10.12"
azure-multiapi-storage==1.2.0 ; python_full_version == "3.10.12"
azure-nspkg==3.0.2 ; python_full_version == "3.10.12"
azure-storage-common==1.4.2 ; python_full_version == "3.10.12"
azure-synapse-accesscontrol==0.5.0 ; python_full_version == "3.10.12"
azure-synapse-artifacts==0.15.0 ; python_full_version == "3.10.12"
azure-synapse-managedprivateendpoints==0.4.0 ; python_full_version == "3.10.12"
azure-synapse-spark==0.2.0 ; python_full_version == "3.10.12"
bcrypt==4.0.1 ; python_full_version == "3.10.12"
boto3==1.28.31 ; python_full_version == "3.10.12"
botocore==1.31.31 ; python_full_version == "3.10.12"
certifi==2023.7.22 ; python_full_version == "3.10.12"
cffi==1.15.1 ; python_full_version == "3.10.12"
chardet==3.0.4 ; python_full_version == "3.10.12"
charset-normalizer==3.2.0 ; python_full_version == "3.10.12"
click==8.1.7 ; python_full_version == "3.10.12"
colorama==0.4.6 ; python_full_version == "3.10.12"
cryptography==41.0.3 ; python_full_version == "3.10.12"
deprecated==1.2.14 ; python_full_version == "3.10.12"
distro==1.8.0 ; sys_platform == "linux" and python_full_version == "3.10.12"
fabric==2.7.1 ; python_full_version == "3.10.12"
humanfriendly==10.0 ; python_full_version == "3.10.12"
idna==3.4 ; python_full_version == "3.10.12"
invoke==1.7.3 ; python_full_version == "3.10.12"
isodate==0.6.1 ; python_full_version == "3.10.12"
javaproperties==0.5.2 ; python_full_version == "3.10.12"
jinja2==3.1.2 ; python_full_version == "3.10.12"
jmespath==1.0.1 ; python_full_version == "3.10.12"
jsondiff==2.0.0 ; python_full_version == "3.10.12"
jsonschema-specifications==2023.7.1 ; python_full_version == "3.10.12"
jsonschema==4.19.0 ; python_full_version == "3.10.12"
knack==0.11.0 ; python_full_version == "3.10.12"
markupsafe==2.1.3 ; python_full_version == "3.10.12"
msal-extensions==1.0.0 ; python_full_version == "3.10.12"
msal==1.24.0b1 ; python_full_version == "3.10.12"
msal[broker]==1.24.0b1 ; python_full_version == "3.10.12"
msrest==0.7.1 ; python_full_version == "3.10.12"
msrestazure==0.6.4 ; python_full_version == "3.10.12"
oauthlib==3.2.2 ; python_full_version == "3.10.12"
packaging==23.1 ; python_full_version == "3.10.12"
paramiko==3.3.1 ; python_full_version == "3.10.12"
pathlib2==2.3.7.post1 ; python_full_version == "3.10.12"
pkginfo==1.9.6 ; python_full_version == "3.10.12"
portalocker==2.7.0 ; python_full_version == "3.10.12"
psutil==5.9.5 ; python_full_version == "3.10.12" and sys_platform != "cygwin"
pycparser==2.21 ; python_full_version == "3.10.12"
pygithub==1.59.1 ; python_full_version == "3.10.12"
pygments==2.16.1 ; python_full_version == "3.10.12"
pyjwt==2.8.0 ; python_full_version == "3.10.12"
pyjwt[crypto]==2.8.0 ; python_full_version == "3.10.12"
pymsalruntime==0.13.12 ; python_full_version == "3.10.12" and platform_system == "Windows"
pynacl==1.5.0 ; python_full_version == "3.10.12"
pyopenssl==23.2.0 ; python_full_version == "3.10.12"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_full_version == "3.10.12"
pysocks==1.7.1 ; python_full_version == "3.10.12"
python-dateutil==2.8.2 ; python_full_version == "3.10.12"
python-json-logger==2.0.7 ; python_full_version == "3.10.12"
pywin32==306 ; platform_system == "Windows" and python_full_version == "3.10.12"
pyyaml==6.0.1 ; python_full_version == "3.10.12"
referencing==0.30.2 ; python_full_version == "3.10.12"
requests-oauthlib==1.3.1 ; python_full_version == "3.10.12"
requests==2.31.0 ; python_full_version == "3.10.12"
requests[socks]==2.31.0 ; python_full_version == "3.10.12"
resolvelib==0.8.1 ; python_full_version == "3.10.12"
rpds-py==0.9.2 ; python_full_version == "3.10.12"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_full_version == "3.10.12"
ruamel-yaml==0.17.32 ; python_full_version == "3.10.12"
s3transfer==0.6.2 ; python_full_version == "3.10.12"
scp==0.13.6 ; python_full_version == "3.10.12"
semver==2.13.0 ; python_full_version == "3.10.12"
six==1.16.0 ; python_full_version == "3.10.12"
sshtunnel==0.1.5 ; python_full_version == "3.10.12"
tabulate==0.9.0 ; python_full_version == "3.10.12"
typing-extensions==4.7.1 ; python_full_version == "3.10.12"
urllib3==1.26.16 ; python_full_version == "3.10.12"
websocket-client==1.3.3 ; python_full_version == "3.10.12"
wrapt==1.15.0 ; python_full_version == "3.10.12"
xmltodict==0.13.0 ; python_full_version == "3.10.12"
