---
# Ansible playbook that installs and configures Filebeat

- hosts: opensearch:logging:opensearch_dashboards # to gather facts
  tasks: []

- hosts: filebeat
  become: true
  become_method: sudo
  roles:
    - filebeat
  environment:
    KUBECONFIG: "{{ kubeconfig.local }}"
