# {{ ansible_managed }}
VAULT_INSTALL_PATH="{{ specification.vault_install_dir }}"
ENABLE_AUDITING={{ specification.enable_vault_audit_logs }}
SCRIPT_AUTO_UNSEAL={{ specification.vault_script_unseal }}
SECRET_PATH={{ specification.secret_mount_path }}
KUBERNETES_INTEGRATION={{ specification.kubernetes_integration }}
ENABLE_VAULT_KUBERNETES_AUTHENTICATION={{ specification.enable_vault_kubernetes_authentication }}
KUBERNETES_CONFIGURATION={{ specification.kubernetes_configuration }}
VAULT_TOKEN_CLEANUP={{ specification.vault_token_cleanup }}
OVERRIDE_EXISTING_VAULT_USERS={{ specification.override_existing_vault_users }}
