bootstrap.servers={{ kafka_hosts }}:{{ specification.security.ssl.port }}
security.protocol=SSL
ssl.truststore.location=/var/private/ssl/kafka.client.truststore.jks
ssl.truststore.password={{ specification.security.ssl.client.passwords.truststore }}
