---
apiVersion: v1
data:
  cookie: "{{ erlang_cookie | b64encode }}"
kind: Secret
metadata:
  labels:
    app: {{ rabbitmq_service_name }}
  name: {{ rabbitmq_service_name }}-cookie
  namespace: {{ namespace_name }}
type: Opaque