apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ api_server_url }}
    token: {{ kubernetes_common.kubeadm_join_token }}
    caCertHashes:
    - sha256:{{ kubernetes_common.kubeadm_cert_hash }}
nodeRegistration:
  kubeletExtraArgs:
    enable-controller-attach-detach: "false"
    node-labels: {{ specification.node_labels }}
