[Unit]
Description=Service that runs Kafka Exporter
 
[Service]
User=kafka_exporter
Group=kafka_exporter
ExecStart=/opt/kafka_exporter/kafka_exporter {{ kafka_instances }}
SyslogIdentifier=kafka_exporter 
Restart=always 
 
[Install]
WantedBy=multi-user.target