global
   log /dev/log local0
   log /dev/log local1 notice
   chroot /var/lib/haproxy
   stats timeout 30s
   user haproxy
   group haproxy
   daemon
 
defaults
   log global
   mode http
   option httplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000
 
frontend http_front
   bind *:80
   stats uri /haproxy?stats
   default_backend http_back
 
backend http_back
   balance roundrobin
{% for worker in groups['worker'] %}
   server {{ worker }} {{ hostvars[worker]['ansible_default_ipv4']['address'] }}:{{ service_port }} check
{% endfor %}
