---
- name: k8s | Include get-cluster-version.yml
  include_tasks: get-cluster-version.yml

- name: Set cluster version as fact
  set_fact:
    cluster_version: >-
      {{ (kubectl_cluster_version.stdout | from_yaml).serverVersion.gitVersion }}
    cluster_version_major: >-
      {{ (kubectl_cluster_version.stdout | from_yaml).serverVersion.major }}
    cluster_version_minor: >-
      {{ (kubectl_cluster_version.stdout | from_yaml).serverVersion.minor }}
