@{
    ViewData["Title"] = "Epiphany Platform";
}

<style>
    .context-diagram {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 500px;
        background-image: url(https://media.githubusercontent.com/media/epiphany-platform/epiphany/develop/docs/assets/images/diagrams/context/epiphany-platform.png);
        background-size:    contain;
        resize: both;
        background-repeat:   no-repeat;
        background-position: center center; 
       
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Epiphany Platform</h1>
    <div class="context-diagram" ></div>

    <p>Learn about <a href="https://github.com/epiphany-platform/epiphany/blob/develop/README.md">Epiphany Platform</a>.</p>
</div>
