# {{ ansible_managed }}
[Unit]
Description=Hashicorp Vault server
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ specification.vault_install_dir }}/config/config.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User={{ specification.vault_system_user }}
Group={{ specification.vault_system_group }}
Restart=on-failure
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart={{ specification.vault_install_dir }}/bin/vault server -config={{ specification.vault_install_dir }}/config/config.hcl -log-level={{ specification.vault_log_level|lower }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
StartLimitIntervalSec=60
StartLimitBurst=3
LimitNOFILE=65536
LimitMEMLOCK=infinity
{% if specification.vault_script_autounseal is defined and specification.vault_script_autounseal == True %}
{%   if specification.tls_disable is defined and specification.tls_disable == True %}
ExecStartPost=/opt/vault/bin/unseal-vault.sh {{ specification.vault_install_dir }}/init.txt {{ ansible_default_ipv4.address }} http
{%   else %}
ExecStartPost=/opt/vault/bin/unseal-vault.sh {{ specification.vault_install_dir }}/init.txt {{ ansible_default_ipv4.address }} https
{%   endif %}
{% endif %}

[Install]
WantedBy=multi-user.target
