<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<zone>
  <short>{{ specification.managed_zone_name[0] | upper }}{{ specification.managed_zone_name[1:] }}</short>
  <description>Epiphany managed zone. Only selected incoming connections are accepted.</description>
{% if ansible_os_family != 'RedHat' %}
  <interface name="{{ ansible_default_ipv4.interface }}"/>
{% endif %}
{# ssh service is hard-coded by purpose - to be always allowed #}
  <service name="ssh"/>
{# http service is allowed temporarily for epirepo and removed by repository role at the end #}
{% if inventory_hostname in groups['repository'] and specification.firewall_service_enabled %}
  <!-- http service is added temporarily for epirepo -->
  <service name="http"/>
{% endif %}
{% for item in ports_to_open %}
  <port protocol="{{ item.protocol }}" port="{{ item.range }}"/>
{% endfor %}
</zone>
