{{ hostvars[groups['postgresql'][0]]['ansible_default_ipv4']['address'] }}:5432:*:{{ specification.extensions.replication.replication_user_name }}:{{ specification.extensions.replication.replication_user_password }}
