# {{ ansible_managed }}

*:*:*:{{ specification.extensions.replication.replication_user_name }}:{{ specification.extensions.replication.replication_user_password }}
*:*:*:{{ specification.extensions.replication.privileged_user_name }}:{{ specification.extensions.replication.privileged_user_password }}
