*:*:*:{{ specification.extensions.replication.replication_user_name }}:{{ specification.extensions.replication.replication_user_password }}
*:*:*:{{ specification.extensions.replication.priviledged_user_name }}:{{ specification.extensions.replication.priviledged_user_password }}