*:*:*:{{ specification.replication.user }}:{{ specification.replication.password }}
*:*:*:{{ specification.replication.priviledged_user_name }}:{{ specification.replication.priviledged_user_password }}
