node_id={{ node_id }}
node_name={{ inventory_hostname }}
conninfo='host={{ ansible_default_ipv4.address }} user={{ specification.additional_components.replication.user }} dbname={{ specification.additional_components.replication.repmgr_database }} connect_timeout=2'
data_directory='/var/lib/pgsql/10/data'

failover=automatic
promote_command='/usr/pgsql-10/bin/repmgr standby promote -f /etc/postgresql/10/main/repmgr.conf --log-to-file'
follow_command='/usr/pgsql-10/bin/repmgr standby follow -f /etc/postgresql/10/main/repmgr.conf --log-to-file --upstream-node-id=%n'
monitoring_history=yes
monitor_interval_secs=10

log_file='/var/log/postgresql/repmgr.log'

pg_bindir='/usr/pgsql-10/bin/'
service_start_command='sudo /bin/systemctl start postgresql-10'
service_stop_command='sudo /bin/systemctl stop postgresql-10'
service_restart_command='sudo /bin/systemctl restart postgresql-10'
service_reload_command='sudo /bin/systemctl reload postgresql-10'

