node_id={{ node_id }}
node_name={{ inventory_hostname }}
conninfo='host={{ ansible_default_ipv4.address }} user={{ specification.additional_components.replication.user }} dbname={{ specification.additional_components.replication.repmgr_database }} connect_timeout=2'
data_directory='/var/lib/postgresql/10/main'

failover=automatic
promote_command='/usr/bin/repmgr standby promote -f /etc/repmgr.conf --log-to-file'
follow_command='/usr/bin/repmgr standby follow -f /etc/repmgr.conf --log-to-file --upstream-node-id=%n'
monitoring_history=yes
monitor_interval_secs=10

log_file='/var/log/repmgr.log'

pg_bindir='/usr/lib/postgresql/10/bin/'
service_start_command='sudo /bin/systemctl start postgresql'
service_stop_command='sudo /bin/systemctl stop postgresql'
service_restart_command='sudo /bin/systemctl restart postgresql'
service_reload_command='sudo /bin/systemctl reload postgresql'

