---
# Common packages for RedHat OS family

prereq-packages:
  # prereq-packages are downloaded without dependencies because of air-gapped mode (dnf localinstall)
  # --- createrepo ---
  - 'createrepo_c'
  - 'createrepo_c-libs'
  - 'drpm'
  - 'python3-createrepo_c'  # installed by RHEL 7 in-place upgrade
  # --- httpd ---
  - 'apr'
  - 'apr-util'
  - 'apr-util-bdb'  # weak
  - 'apr-util-openssl'  # weak
  - 'httpd'
  - 'httpd-filesystem'
  - 'httpd-tools'
  - 'mailcap'
  - 'mod_http2'

packages:
  from_repo:
    - 'audit'  # for docker-ce
    - 'bash-completion'
    - 'ca-certificates'
    - 'cifs-utils'
    - 'conntrack-tools'  # for kubelet
    - 'containerd.io-1.5.11'
    - 'container-selinux'
    - 'copy-jdk-configs'  # for java-1.8.0-openjdk-headless
    - 'cri-tools'
    - 'cups-libs'  # for java-1.8.0-openjdk-headless
    - 'curl'
    - 'dejavu-sans-fonts'  # for grafana
    - 'docker-ce-20.10.8'
    - 'docker-ce-cli-20.10.8'
    - 'docker-ce-rootless-extras-20.10.8'
    - 'elasticsearch-curator-5.8.3'
    - 'elasticsearch-oss-7.10.2'  # for opensearch & logging roles
    - 'ethtool'
    - 'filebeat-7.12.1'
    - 'firewalld'
    - 'fontconfig'  # for grafana
    - 'fping'
    - 'fuse-overlayfs'  # for docker-ce-rootless-extras
    - 'fuse3'  # for docker-ce-rootless-extras
    - 'gnutls'  # for cifs-utils
    - 'gssproxy'  # for nfs-utils
    - 'htop'
    - 'iftop'
    - 'ipset'  # for firewalld
    - 'iptables'  # for iptables-ebtables
    - 'iptables-ebtables'
    - 'java-1.8.0-openjdk-headless'
    - 'jq'
    - 'libibverbs'  # for libpcap
    - 'libini_config'  # for nfs-utils
    - 'libpcap'  # for iftop & iptables
    - 'libX11'  # for grafana
    - 'libxcb'  # for grafana
    - 'libXcursor'  # for grafana
    - 'libXt'  # for grafana
    - 'logrotate'
    - 'lua'  # for java-1.8.0-openjdk-headless
    - 'mcpp'  # for grafana
    - 'net-tools'
    - 'nfs-utils'
    - 'nmap-ncat'
    - 'nss'  # for java-1.8.0-openjdk-headless
    - 'nss-softokn'  # for nss
    - 'ntsysv'  # for python36
    - 'openssl'
    - 'perl'  # for vim
    - 'perl-Getopt-Long'  # for vim
    - 'perl-libs'  # for vim
    - 'perl-Pod-Perldoc'  # for vim
    - 'perl-Pod-Simple'  # for vim
    - 'perl-Pod-Usage'  # for vim
    - 'pgaudit15_13-1.5.0'
    - 'pkgconf'  # for bash-completion
    - 'pkgconf-pkg-config'  # for bash-completion
    - 'policycoreutils'  # for container-selinux
    - 'python3-cffi'  # for python3-cryptography
    - 'python3-cryptography'
    - 'python3-firewall'  # for firewalld
    - 'python3-ldb'  # for cifs-utils
    - 'python3-libselinux'
    - 'python3-lxml'  # for java-1.8.0-openjdk-headless
    - 'python3-nftables'  # for python3-firewall
    - 'python3-pip'  # for python36
    - 'python3-policycoreutils'  # for container-selinux
    - 'python3-psycopg2'
    - 'python3-pycparser'  # for python3-cryptography
    - 'python3-slip-dbus'  # for firewalld
    - 'python36'  # there is no python3 package
    - 'quota'  # for nfs-utils
    - 'rabbitmq-server-3.8.9'
    - 'rsync'
    - 'postgresql13-server'
    - 'repmgr10-5.2.1'  # used to upgrade repmgr first
    - 'repmgr13-5.2.1'
    - 'samba-client'
    - 'samba-client-libs'  # for samba-client
    - 'samba-common'
    - 'samba-libs'  # for cifs-utils
    - 'sssd'  # needed for samba packages installation
    - 'sssd-client'  # needed for sssd upgrade
    - 'sssd-common'  # needed for sssd upgrade
    - 'sssd-ad'  # needed for sssd upgrade
    - 'sssd-ipa'  # needed for sssd upgrade
    - 'sssd-kcm'  # needed for sssd upgrade
    - 'sssd-krb5'  # needed for sssd upgrade
    - 'sssd-ldap'  # needed for sssd upgrade
    - 'sssd-proxy'  # needed for sssd upgrade
    - 'slirp4netns'  # for docker-ce-rootless-extras
    - 'sysstat'
    - 'tar'
    - 'telnet'
    - 'tmux'
    - 'urw-base35-fonts'  # for grafana
    - 'unzip'
    - 'vim-common'  # for vim
    - 'vim-enhanced'
    - 'wget'
    - 'xorg-x11-font-utils'  # for grafana
    - 'xorg-x11-server-utils'  # for grafana

  multiple_versioned:
    # K8s v1.18.6 (Epiphany >= v0.7.1)
    - 'kubeadm-1.18.6'
    - 'kubectl-1.18.6'
    - 'kubelet-1.18.6'

    # K8s v1.19.15 (Epiphany >= v1.3 transitional version)
    - 'kubeadm-1.19.15'
    - 'kubectl-1.19.15'
    - 'kubelet-1.19.15'

    # K8s v1.20.12
    - 'kubeadm-1.20.12'
    - 'kubectl-1.20.12'
    - 'kubelet-1.20.12'

    # K8s v1.21.7 (Epiphany >= v1.3, transitional version)
    - 'kubeadm-1.21.7'
    - 'kubectl-1.21.7'
    - 'kubelet-1.21.7'

    # K8s v1.22.4
    - 'kubeadm-1.22.4'
    - 'kubectl-1.22.4'
    - 'kubelet-1.22.4'

    # Kubernetes Generic
    - 'kubernetes-cni-0.8.6-0'  # since K8s v1.18.6
    - 'kubernetes-cni-0.8.7-0'  # since K8s v1.19.15

  from_url:
    # Github repository for erlang rpm is used since packagecloud repository is limited to a certain number of versions and erlang package from erlang-solutions repository is much more complex and bigger
    'https://github.com/rabbitmq/erlang-rpm/releases/download/v23.1.5/erlang-23.1.5-1.el8.x86_64.rpm':
      sha256: 4680540d6ba20d7ebbc0558b5309b1312b59aba539635ca546eae0492901f2a7
    # Grafana package is not downloaded from repository since it was not reliable (issue #2449)
    'https://dl.grafana.com/oss/release/grafana-8.3.2-1.x86_64.rpm':
      sha256: 5ad3cc7137bb8599f21eca40d08d671f3c508d856aea01b5a29576fda7f3c827
