apiVersion: v1
kind: Secret
metadata:
  name: azure-secret
type: Opaque
data:
  azurestorageaccountname: {{ specification.storage.data.storage_account_name | b64encode }}
  azurestorageaccountkey: {{ specification.storage.data.storage_account_key | b64encode }}