---
# Main playbook where everything starts for laying down Epiphany for a given project

- import_playbook: common.yml
- import_playbook: master.yml
- import_playbook: worker.yml
- import_playbook: zookeeper.yml
- import_playbook: kafka.yml
- import_playbook: elasticsearch.yml
- import_playbook: kibana.yml
- import_playbook: filebeat.yml
- import_playbook: prometheus.yml
- import_playbook: grafana.yml
- import_playbook: node_exporter.yml
