---
- name: Extensions | PgBouncer | Install package(s)
  package:
    name: "{{ _packages[ansible_os_family] }}"
    state: present
  vars:
    _packages:
      Debian: "pgbouncer={{ new_version.pgbouncer.version.Debian + '-*' }}"
      RedHat: "pgbouncer-{{ new_version.pgbouncer.version.RedHat }}"
  module_defaults:
    yum: {lock_timeout: "{{ yum_lock_timeout }}"}
