[defaults]
inventory=./inventory
gathering=explicit
stdout_callback=yaml
host_key_checking=false
display_skipped_hosts=true
retry_files_enabled=false
any_errors_fatal=true

[privilege_escalation]
become=true
become_user=root
become_method=sudo

[ssh_connection]
ssh_pipelining=true
